*{
    padding: 0;
    margin: 0;
   
}
body{
    display: flex;
    justify-content: center;
   align-items: center;
}
.card{
    width: 90%;
    max-width: 300px;
    border-radius: 20px;
    background:linear-gradient(135deg, rgb(60, 191, 234), rgb(36, 239, 134));
   text-align: center;
   padding: 40px 35px;
   
}
.search{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    padding: 16px;
    margin: 16px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    flex: 1;
    width: 120px;
}
.search button{
    padding: 16px;
    
    border-radius: 50%;
    outline: 0;
    border: 0;
   cursor: pointer;
    

}
.search img{
    height: 16px;

}
.other{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 12px;
}
.text,.text2{
    font-size: 40px;
}
.hum,.win{
    width: 30px;
    height: 30px;
}